<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="visualizarImpressao" value="0"/>
    <add key="TituloFolha" value="Relatório"/>
    <add key="AlinhamentoTitulo" value="0"/>
    <add key="SubtituloFolha" value=""/>
    <add key="AlinhamentoSubtitulo" value="0"/>
    <add key="Rodape" value=""/>
    <add key="AlinhamentoRodape" value="0"/>
    <add key="NumeroPaginas" value="1"/>
    <add key="ExibirID" value="0"/>

    <add key="formatarCliente" value="0"/>
    <add key="formatarLivro" value="0"/>

    <add key="atualizarStatusAluguel" value="1"/>
    
    <add key="usuarioLogado" value=""/>
    <add key="tipoUsuario" value="ADM"/>

    <add key="dbPadrao" value="sqlserverlocaldb"/>
    <add key="pastaDb" value=""/>

    <add key="updateFileServer" value="https://raw.githubusercontent.com/LuanRoger/ProjectBook/master/update.xml"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString=""/>
  </connectionStrings>
</configuration>