<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="visualizarImpressao" value="0"/>
    <add key="dbPadrao" value="sqlserverlocaldb"/>
    <add key="pastaDb" value=""/>

    <add key="formatarCliente" value="0"/>
    <add key="formatarLivro" value="0"/>
    
    <add key="usuarioLogado" value=""/>
    <add key="tipoUsuario" value="ADM"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString=""/>
  </connectionStrings>
</configuration>